{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Update</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/Patient/profile.css' %}">
    <script defer src="{% static 'js/Patient/profile.js' %}"></script>
</head>
<style>
  .input-group {
    position: relative;
    width: 100%;
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .form-control {
    padding-right: 40px;
  }

</style>
<body>

<header class="header">
    <div class="top-bar">
        <div class="top-bar__content">
            <section class="phone">
                <i class="fa-solid fa-phone icon"></i>
                <span>+212-xxxx-xxxx</span>
            </section>
            <section class="email">
                <i class="fa-solid fa-envelope icon"></i>
                <span>xxxx@mailSite.com</span>
            </section>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="bottom-bar__content">
            <a href="{% url 'home_patient' %}" class="logo">
                <img class="logo__img" src="{% static 'images/Patient/logo.jpeg' %}">
            </a>
        </div>
    </div>
</header>

<section class="py-5 my-5">
    <div class="container">
        <h1 class="mb-5">Mon compte</h1>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        {% if imgPatient %}
                        <img src="{{imgPatient}}" alt="Image" class="shadow">
                        {% else %}
                        <img src="{% static 'images/Patient/user.jpg' %}" alt="Image" class="shadow">
                        {% endif %}
                    </div>
                    <h4 class="text-center">{{patient.nomPatient}} {{patient.prenomPatient}}</h4>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="account-tab" href="{% url 'profile' %}" aria-controls="account"
                       aria-selected="false">
                        <i class="fa fa-home text-center mr-1"></i>Compte
                    </a>
                    <a class="nav-link active" id="password-tab" href="{% url 'update_password' %}"
                       aria-controls="password"
                       aria-selected="true">
                        <i class="fa fa-key text-center mr-1"></i>Mot de passe
                    </a>
                    <a class="btn btn-light" role="button" href="{% url 'home_patient' %}">
                        <i class="fa fa-home text-center mr-1"></i>Retourner
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="password" role="tabpanel" aria-labelledby="password-tab">
                    {% csrf_token %}
                    <div class="form-group">
                        <form method="POST" class="password-change-form">
                            {% csrf_token %}
                            <h3 class="mb-4">Paramètres du mot de passe</h3>
                            {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error {% endif %}">
                                <label class="control-label">{{ field.label }}</i></label>
                                <div class="input-group">
                                    {{ field }}
                                    <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fas fa-eye-slash toggle-password" data_input="{{ field.field.widget.attrs.data_input }}"></i>
                                    </span>
                                    </div>
                                </div>
                                {% for error in field.errors %}
                                <span class="help-block" style="color:red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            <input class="btn btn-primary" type="submit" value="Mettre a jour">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script defer src="{% static 'js/Patient/password.js' %}"></script>
</body>
</html>