{% extends 'Administrateur/base_admin.html' %}
{% load static %}
{% block title %}<title>Administrateurs</title>{% endblock %}
{% block sideBar %}
    <ul>
                        <li class="menu-title"><span>Menu</span></li>
                        <li>
                            <a href="{% url 'index_admin' %}"><i data-feather="home"></i> <span>tableau de bord</span></a>
                        </li>
                        <li>
                            <a href="{% url 'statistiques' %}"><i data-feather="pie-chart"></i> <span> Statistiques</span> </a>
                        </li>
                        <li>
                        <a href="#"><i data-feather="bell"></i> <span>Actualités</span><span
                                class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="{% url 'affichage_actualite' %}">Toutes les actualités</a></li>
                                <li><a href="">Ajouter une actualité</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'chatAdmin' %}"><i data-feather="mail"></i> <span>Messagerie</span></a>
                        </li>
                        <li class="menu-title"><span>Gestion Comptes</span></li>
                        <li class="active">
                            <a ><i data-feather="lock"></i> <span> Administrateurs </span></a>
                        </li>
                        <li>
                            <a href="{% url 'gestion_patients' %}"><i data-feather="users"></i>
                                <span>Patients</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i data-feather="clipboard"></i> <span> Spécialistes</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="">Pediatre</a></li>
                                <li><a href="">Dentiste</a></li>
                            </ul>
                        </li>


                        <li class="menu-title">
                            <span>Gestion media</span>
                        </li>
                        <li>
                        <a href="#"><i data-feather="video"></i> <span>Videos</span><span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'affichage_video' %}">Toutes les videos</a></li>
                            <li><a href="{% url 'ajout_video' %}">Ajouter une video</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i data-feather="image"></i> <span>Images</span><span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'affichage_image' %}">Toutes les images</a></li>
                            <li><a href="{% url 'ajout_image' %}">Ajouter une image</a></li>
                        </ul>
                    </li>
                        <li class="menu-title">
                            <span>Réglages</span>
                        </li>
                        <li>
                            <a href="profile.html"><i data-feather="user-plus"></i> <span>Profile</span></a>
                        </li>
                        <li>
                            <a href="settings.html"><i data-feather="settings"></i> <span>Paramètres</span></a>
                        </li>
                    </ul>
{% endblock %}
{% block contenu %}
    {% if error == True %}
        <div class="row">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ errorMsg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Patients</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index_admin' %}">Tableau de bord</a>
                    </li>
                    <li class="breadcrumb-item active">Administrateurs</li>
                </ul>
            </div>
            <div class="col-auto">
                <a href="{% url 'ajouter_administrateur' %}" class="btn btn-primary me-1">
                    <i class="fas fa-plus"></i>
                </a>
                <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                    <i class="fas fa-filter"></i>
                </a>
            </div>
        </div>
    </div>

    <div id="filter_inputs" class="card filter-card">
        <div class="card-body pb-0">
            <form method="post" action="{% url 'recherche_administrateur' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Nom complet</label>
                            <input type="text" name="nom" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="mail" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="text-end mt-4">
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-center table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th>Administrateur</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th class="text-end">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in administrateurs %}
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="{% url 'afficher_administrateur' admin=a.user.username %}" class="avatar avatar-sm me-2"><img
                                                    class="avatar-img rounded-circle"
                                                    src="{% static 'images/default-user-image-admin.jpg' %}"
                                                    alt="User Image"></a>
                                            <a href="{% url 'afficher_administrateur' admin=a.user.username %}" >{{ a.nomAdmin }} {{ a.prenomAdmin }}
                                                <span>{{ a.user.username }}</span></a>
                                        </h2>
                                    </td>
                                    <td><span class="__cf_email__"> {{ a.mailAdmin }}</span>
                                    </td>
                                    <td>
                                        {% if a.user.is_active == True %}
                                            <span class="badge bg-info-light">Activé</span>
                                        {% else %}
                                            <span class="badge bg-danger-light">Désactivé</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-end">
                                        <a href="{% url 'editer_admin' admin=a.user.username %}"
                                           class="btn btn-sm btn-white text-success me-2"><i
                                                class="far fa-edit me-1"></i>Editer</a>
                                        <a href="{% url 'supprimer_admin' admin=a.user.username %}"
                                           class="btn btn-sm btn-white text-danger me-2"><i
                                                class="far fa-trash-alt me-1"></i>Supprimer</a>

                                        {% if a.user.is_active == True %}
                                            <a href="{% url 'desactiver_admin' admin=a.user.username %}"
                                               class="btn btn-sm btn-white text-info me-2"><i
                                                    class="fas fa-exclamation-circle me-1"></i>
                                                Désactiver</a>
                                        {% else %}
                                            <a href="{% url 'activer_admin' admin=a.user.username %}"
                                               class="btn btn-sm btn-white text-info me-2"><i
                                                    class="fas fa-exclamation-circle me-1"></i>
                                                Activer</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/Admin/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/Admin/feather.min.js' %}"></script>

    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>

    <script src="{% static 'js/Admin/script.js' %}"></script>
{% endblock %}